{% extends 'music/base.html' %}
{% block title %}Add a new Album{% endblock %}
{% block albums-active %}active{% endblock %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-md-offset-4 col-sm-offset-3">
                <div class="panel-body"></div>
                <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success submit_button">Create</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}